@tailwind base;
@tailwind components;
@tailwind utilities;




.rounded-checkbox {
    width:24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin:1rem;
  }
  .rounded-checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: blue !important;
    
  }
  .checkbox-item label{
    font-size: 1.4rem;

  }
  input[type='checkbox'] {
    accent-color: green;
  }